.border-r {
  border: 1px solid red;
  padding: 1px;
  margin: 1px;
}

.border-b {
  border: 1px solid blue;
  padding: 1px;
  margin: 1px;
}

.border-g {
  border: 1px solid green;
  padding: 1px;
  margin: 1px;
}
