:root {
  --eerie-black: #1D201F;
  --platinum: #D1DEDE;
  --old-rose: #C58882;
  --light-coral: #DF928E;
  --wheat: #EAD2AC;
  --wave-bg: rgba(197, 136, 131, 0.3);
}

html {
  background-color: var(--eerie-black);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--eerie-black);
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

h1, h2, h3, h4, a, p {
  color: var(--platinum);
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 4.0rem;
}

h2 {
  font-size: 3.0rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

p {
  font-size: 1.25rem;
}

a:hover {
  color: var(--old-rose);
  text-decoration: underline;
  cursor: pointer;
}

